<div class="root-container"
     ng-class="{'root-container-{{vm.theme}}':true}"
     tabindex="0"
     q2g-shortcut-scope="rootelement"
     style="height:100%; width:100%">
     
     
     <div style="position:absolute">
        <button ng-click="vm.action()"
                class="lui-button  lui-button--rounded  lui-button--info"
                q2g-shortcut
                shortcut="[{name:'enter', shortcut:'strg + alt + 82', rootscope: '|global|'}]"
                shortcut-action="vm.action()">
            <a ng-href="http://google.de" target="_blank">{{vm.status}}</a>
            <div class="spinner" ng-if="vm.status === 'Running ...'">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </button>
     </div>
     <div style="position:relative; top: 25px" ng-if="vm.reportError">Check Logs</div>
    <q2g-identifier show="vm.isEditMode()"></q2g-identifier>
</div>