<div class="root-container" ng-class="{'root-container-{{vm.theme}}':true}" tabindex="0"
     q2g-shortcut-scope="rootelement" style="height:100%; width:100%">


     <div style="position:absolute">


          <div ng-click="vm.action()" class="lui-button lui-button--rounded lui-button--info"
               ng-class="{'inactive': vm.inactive }"
               
               
               q2g-shortcut shortcut="[{name:'enter', shortcut:'strg + alt + 82', rootscope: '|global|'}]"
               shortcut-action="vm.action()">
               {{vm.title}}


               <div class="spinner"
                    ng-if="vm.running">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
               </div>


          </div>
          <div style="position:relative; top: 25px" ng-if="vm.reportError">Check Logs</div>
          <q2g-identifier show="vm.isEditMode()"></q2g-identifier>

          <div ng-if="vm.isEditMode()" class="editMode">
          </div>
     </div>